body{
background:#f3f0ff;
font-family:Arial, sans-serif;
}
.container{
width:60%;
margin:40px auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}
h1{
text-align:center;
color:#6a0dad;
}
.chat-box{
height:250px;
border:1px solid #ccc;
padding:15px;
margin-bottom:15px;
border-radius:8px;

}
input{
width:75%;
padding:10px;
}
button{
padding:10px 20px;
background:#6a0dad;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}